/* BTN */

/* btn x info */


/* btn acquisto */
/* btn plus */



/* JUMBOTON*/

.upper-jumbotron {
    margin-top: 140px;
    background-image: url("../returnal-listing-thumb-01-ps5.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /* debug */
    /* background-color: gray; */
    height: 70vh
}


/* CLASSI DEDBUG */

.debug {
    border: 1px solid black;
    /* background-color: lightgray; */
}

[class*="col"] {
    border: 1px solid red;
    /* min-height: 50px; */

}

.game-container {
    height: 300px;
    background-color: aqua;
}


/* img,
svg {
    color: black;
    background-color: black;
    object-fit: cover;
    width: 100%;
    height: 50px;
} */