/* BTN */

/* btn x info */


/* btn acquisto */
/* btn plus */

section {
    margin: 3rem 0;
}

/* JUMBOTON*/

/* jumbotron nell'header */
.upper-jumbotron {
    margin-top: 140px;
    /* img returnal trhiller */
    background-image: url("../returnal-listing-thumb-01-ps5.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /* debug */
    /* background-color: gray; */
    height: 70vh
}

/* SECTION "GAME" */
.game-container {
    /* img game in section game */
    background-image: url("../it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

/* CLASSI DEDBUG */

.debug {
    border: 1px solid black;
    /* background-color: lightgray; */
}

[class*="col"] {
    border: 1px solid red;
    /* min-height: 50px; */

}

.game-container {
    height: 300px;
    background-color: aqua;
}


/* img,
svg {
    color: black;
    background-color: black;
    object-fit: cover;
    width: 100%;
    height: 50px;
} */